//fonts
$html-font-size: 16px;
$body-font-size: 20px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 14px;
$font-size-normal: 20px;
$font-size-bigger: 24px;
$font-size-biggest: 32px !default;

$line-height-normal: 26px;
$line-height-bigger: 31.2px;
$line-height-biggest: 41.6px;
$font-style: normal;

$default-letter-spacing: 0.5px;