@use '../../styles/mixins';
@use '../../styles/variables';

.itcommunity_section {
    @include mixins.flexbox;
    justify-content: center;
}

//Main content START 

.itcommunity_section_main_content {
    @include mixins.flexItem;
    flex-basis: 60%;
    padding: 0 15px;
}

.itcommunity_section_title {
    font-size: 50px;
    font-weight: variables.$primary-font-weight;
}

.itcommunity_section_desc {
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 11px;
}

.itcommunity_section_title > span,
.itcommunity_section_desc span {
    color: variables.$primary-orange-color;
}

//Main content END 

//Image START

.itcommunity_section_image {
    @include mixins.flexItem;
    flex-basis: 45%;
    overflow: hidden;
    border-radius: 15px;
}
.itcommunity_section_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.itcommunity_section_image img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

//Image END

@media screen and (max-width: 840px) {
    .itcommunity_section {
        flex-wrap: wrap;
    }

    .itcommunity_section_main_content,
    .itcommunity_section_image {
        flex-basis: 100%;
    }

    .itcommunity_section_image {
        margin-bottom: 15px;
    }
}


