$font-stack: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$primary-text-color: #000000;
$primary-bg-color: #FFFFFF;
$primary-font-size: 16px;
$second-font-size: 14px;
$h1-font-size: 58px;
$project-min-width: 360px;

//define colors

$primary-orange-color: #FF9D01;
$primary-gray-color: #5E5E5E;
$input-gray-color: #92929D;