@use '../../styles/mixins';
@use '../../styles/variables' with (
    $h1-font-size: 40px
);

.backend_section {
    @include mixins.flexbox;
    justify-content: center;
}

//Main content START 

.backend_section_title {
    font-size: variables.$h1-font-size;
    font-weight: variables.$primary-font-weight;
    
    & > span {
        color: variables.$primary-orange-color;
    }
}

.backend_section_desc {
    font-weight: variables.$font-weight-bold;
    margin-top: 40px;
    margin-bottom: 11px;
    
    & > span {
        color: variables.$primary-orange-color;
    }
}

//Main content END 

//image
.backend_section_image {
    @include mixins.flexItem;
    position: relative;
    flex-basis: 45%;
    height: 300px;
}

@media screen and (max-width: 700px) {

    .backend_section {
        flex-wrap: wrap;
    }

    .backend_section_main_content,
    .backend_section_image {
        flex-basis: 100%;
    }
}