@use '../../styles/mixins';
@use '../../styles/variables' with (
    $h1-font-size: 40px,
);

.certification_section {
    @include mixins.flexbox;
    justify-content: center;
    column-gap: 30px;
}

//Main content START 

.certification_section_title {
    font-size: variables.$h1-font-size;
    font-weight: variables.$primary-font-weight;
    
    & > span {
        color: variables.$primary-orange-color;
    }
}

.certification_section_desc {
    font-weight: variables.$font-weight-bold;
    margin-top: 40px;
    margin-bottom: 11px;
    
    & > span {
        color: variables.$primary-orange-color;
    }
}

//Main content END 

//Certification List START

.certification_section_certifications_list {
    width: 60%;
}

//Certification List END

@media screen and (max-width: 700px) {

    .certification_section {
        flex-wrap: wrap;
    }

    .certification_section_certifications_list {
        width: 100%;
    }

    .certification_section_certifications_list {
        margin: 20px 0;
    }
}
