@use '../../styles/mixins';
@use '../../styles/variables';

.certification_section {
    @include mixins.flexbox;
    justify-content: center;
    column-gap: 30px;
}

//Main content START 

.certification_section_main_content {
    @include mixins.flexItem;
    flex-basis: 40%;
    padding-left: 15px;
}

.certification_section_title {
    font-size: 50px;
    font-weight: variables.$primary-font-weight;
}

.certification_section_desc {
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 11px;
}

.certification_section_title > span,
.certification_section_desc > span {
    color: variables.$primary-orange-color;
}

//Main content END 

//Certification List START

.certification_section_certifications_list {
    width: 60%;
}

//Certification List END

@media screen and (max-width: 700px) {

    .certification_section {
        flex-wrap: wrap;
    }

    .certification_section_main_content,
    .certification_section_certifications_list {
        flex-basis: 100%;
    }

    .certification_section_certifications_list {
        margin: 20px 0;
    }
    
}
