@use '../../styles/mixins';
@use '../../styles/variables';

.footer_container {
    @include mixins.flexbox;
    justify-content: space-between;
    height: 100%;
    font-size: variables.$primary-font-size;
    margin: 0 10px;
}

.footer_social_icons {
    @include mixins.flexbox;
    width: unset;
    column-gap: 5px;
}