@use '../../styles/mixins';
@use '../../styles/variables';

.navbar {
    @include mixins.flexbox;
    height: 150px;
    justify-content: space-evenly;
}

.navbar_title a {
    color: variables.$primary-orange-color;
    font-size: 24px;
    font-weight: 600;
}

.navbar_links .navbar_list {
    @include mixins.flexbox;
    column-gap: 60px;
}

.navbar_link {
   flex: 0 1 60px;
}

.navbar_link a {
    font-size: variables.$primary-font-size;
    color: variables.$primary-text-color;
}

.navbar_link .active {
    font-weight: 700;
}

.cv_button_wrapper button {
    width: 150px;
    height: 50px;
    box-shadow: variables.$box-shadow;
    font-size: variables.$primary-font-size;
    border: 1px solid variables.$primary-orange-color;
    border-radius: 10px;
}