@use '../../styles/variables';
@use '../../styles/mixins';

.work_experience_section {
    @include mixins.flexbox;
    justify-content: center;
    gap: 20px;
}

//Main content START 

.work_experience_title {
    font-size: variables.$h1-font-size;
    font-weight: variables.$primary-font-weight;
}

.work_experience_desc {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 11px;
}

.work_experience_title > span,
.work_experience_desc > span {
    color: variables.$primary-orange-color;
}

//Main content END 

//About Me Pic START 

.work_experience_image {
    @include mixins.flexItem;
    position: relative;
    width: 300px;
    height: 453px;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.5);
}

//About Me Pic END

@media screen and (max-width: 740px) {

    .work_experience_section {
        flex-wrap: wrap;
    }

    .work_experience_main_content {
        flex-basis: 100%;
    }

    .work_experience_image {
        margin-bottom: 10px;
        flex-grow: 0;
    }
}