@use '../../styles/variables';
@use '../../styles/mixins';

.work_experience_section {
    @include mixins.flexbox;
    justify-content: center;
}

//Main content START 

.work_experience_main_content {
    @include mixins.flexItem;
    flex-basis: 55%;
}

.work_experience_title {
    font-size: variables.$h1-font-size;
    font-weight: variables.$primary-font-weight;
}

.work_experience_desc {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 11px;
}

.work_experience_title > span,
.work_experience_desc > span {
    color: variables.$primary-orange-color;
}

//Main content END 

//About Me Pic START 

.work_experience_image {
    @include mixins.flexItem;
    flex-basis: 45%;
    height: 450px;
}

.work_experience_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

//About Me Pic END

@media screen and (max-width: 740px) {
    .work_experience_section {
        flex-wrap: wrap;
    }

    .work_experience_main_content,
    .work_experience_image {
        flex-basis: 100%;
    }

    .work_experience_image {
        margin-bottom: 10px;
    }
}