@use '../../styles/mixins';
@use '../../styles/variables';

.contact_section {
    @include mixins.flexbox;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
}

//Title START

.contact_section_title {
    
    h1 {
        font-size: variables.$h1-font-size;
    }
    
    span {
        color: variables.$primary-orange-color;
    }
}

//Title END

.contact_section_main_content {
    @include mixins.flexbox;
    gap: 20px;
}

//Main content START

//Badges START

.contact_section_badges {
    @include mixins.flexbox;
    width: unset;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

//Email START

.contact_section_email_badge {
    @include mixins.flexbox;
    column-gap: 10px;
    align-content: center;
    justify-content: center;
    
    & > span {
        margin: 0;
        background-color: variables.$primary-orange-color;
        padding: 8px 12px;
    }
}

.contact_section_email_info {
    @include mixins.flexbox;
    flex-direction: column;
    align-items: flex-start;
    
    span,
    a {
        color: variables.$primary-gray-color;
    }
    
    a {
        font-weight: variables.$font-weight-bold;
    }
}

//Email END

//Badges END

.contact_section_contact_form {
    width: 60%;
}

//Main content END

@media screen and (max-width: 750px) {
    .contact_section_main_content {
        flex-direction: column;
    }

    .contact_section_badges,
    .contact_section_contact_form {
        width: 100%;
    }
    
    .contact_section_badges {
        flex-direction: row;
    }
}