@use '../../styles/mixins';
@use '../../styles/variables' with (
    $h1-font-size: 50px,
    $primary-font-size: 24px
);

.introduction_section {
    @include mixins.flexbox;
    justify-content: center;
}

//Main content START 

.introduction_section_main_content {
    @include mixins.flexItem;
    flex-basis: 50%;
}

.introduction_section_title {
    text-align: center;
    font-size: variables.$h1-font-size;
    font-weight: variables.$primary-font-weight;
}

.introduction_section_title > span,
.introduction_section_desc > span {
    color: variables.$primary-orange-color;
}

.introduction_section_desc {
    font-size: variables.$primary-font-size;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 11px;
}

//Main content END