@use '../../styles/mixins';
@use '../../styles/variables' with (
    $primary-font-size: 24px,
);

.intro_section {
    @include mixins.flexbox;
    padding: 0 3.5rem;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

//Main content START 

.intro_section_desc {
    font-size: variables.$primary-font-size;
    
    & > span {
        color: variables.$primary-orange-color;
    }
}

.intro_section_main_content button {
    margin-top: 25px;
}

//Main content END 

//Cover Image START 

.intro_section_image {
    @include mixins.flexItem;
    position: relative;
    width: 300px;
    height: 419px;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.5);
}

//Cover Image END 

@media screen and (max-width: 860px) {
    .intro_section {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 720px) {
    
    .intro_section {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {

    .intro_section {
        flex-direction: column;
        row-gap: 40px;
    }
}