@use '../../styles/mixins';
@use '../../styles/variables';

.portfolio_section {
    @include mixins.flexbox; 
    width: 100%;
}

.portfolio_section_main_content {
    @include mixins.flexbox;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.portfolio_section_title {
    font-size: variables.$h1-font-size;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 26px;
}

.portfolio_section_title span {
    color: variables.$primary-orange-color;
}

.portfolio_section_desc {
    margin-bottom: 33px;
}