@use '../../styles/mixins';
@use '../../styles/variables' with (
    $h1-font-size: 33px,
);

.skills_section {
    @include mixins.flexbox;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
}

.skills_section_main_intro {
    font-size: variables.$h2-font-size;
}

.skills_section_grid {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 315px);
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
}

.skills_section_grid_item {
    @include mixins.flexbox;
    position: relative;
    flex-direction: column;
    height: 350px;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 16px
}

.skills_section_grid_item_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.skills_section_grid_item_header {
    @include mixins.flexbox;
    font-size: variables.$h2-font-size;
    font-weight: 700;
    justify-content: center;
    border: 1px solid variables.$primary-gray-color;
    border-radius: 16px;
    padding: 1rem;
    
    & > span {
        color: variables.$primary-orange-color;
    }
}

.skills_section_grid_item_para {
    padding: 0.25rem;
    font-size: variables.$primary-font-size;
    font-weight: variables.$font-weight-bold;
    
    & > span {
        color: variables.$primary-orange-color;
        display: inline-block;
    }
}

.skills_section_main_desc {
    @include mixins.flexbox;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    font-size: variables.$h2-font-size;
}

.skills_section_main_desc_title {
    font-size: variables.$h1-font-size;
}

.skills_section_main_desc_para {
    font-size: variables.$h2-font-size;
    
    & > span {
        color: variables.$primary-orange-color;
    }
}

.skills_section_main_desc_list_item {
    margin: 20px 0;
    
    span {
        color: variables.$primary-orange-color;
    }
}

.skills_section_main_outro {
    @include mixins.flexbox;
    justify-content: center;
    column-gap: 30px;
}

@media screen and (max-width: 560px) {
    .skills_section_main_outro {
        flex-direction: column;
    }
}