@use '../../styles/mixins';
@use '../../styles/variables';

.skills_section {
    @include mixins.flexbox;
    justify-content: center;
    gap: 60px;
}

//Main content START

.skills_section_main_content {
    @include mixins.flexItem;
    flex-basis: 40%;
}

.skills_section_title {
    font-size: variables.$h1-font-size;
    font-weight: variables.$primary-font-weight;
}

.skills_section_title span {
    color: variables.$primary-orange-color;
}

.skills_section_desc {
    margin-top: 40px;
    margin-bottom: 11px;
}

//Main content END

//Main description START

.skills_section_main_desc {
    @include mixins.flexItem;
    @include mixins.flexbox;
    flex-basis: calc(60% - 60px);
    height: 100%;
    gap: 15px;
}

.skills_section_frontend_part,
.skills_section_backend_part {
    @include mixins.flexbox;  
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    flex-basis: 50%
}

.skills_section_backend_part {
    align-self: flex-end;
}

//Main description END

@media screen and (max-width: 490px) {
    
    .skills_section {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
    }
    
    .skills_section_main_content,
    .skills_section_main_desc {
        flex-shrink: 1;
        flex-basis: unset;
    }
}