@use '../../styles/mixins';
@use '../../styles/variables';

.skills_section {
    @include mixins.flexbox;
    justify-content: center;
    gap: 60px;
}

.skills_section_grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit,315px);
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
}

.skills_section_grid_item {
    @include mixins.flexbox;
    position: relative;
    flex-direction: column;
    height: 350px;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 16px
}

.skills_section_grid_item_icon {
    position: absolute;
    top: -15px;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.skills_section_grid_item_header {
    @include mixins.flexbox;
    font-size: variables.$h2-font-size;
    font-weight: 700;
    justify-content: center;
    border: 1px solid variables.$primary-gray-color;
    border-radius: 16px;
    padding: 1rem;
}

.skills_section_grid_item_para {
    padding: 0.25rem;
}