@use '../../styles/mixins';
@use '../../styles/variables';

.list_wrapper {
    display: grid;
    width: 100%;
    grid-auto-columns: 250px;
    grid-auto-flow: column;
    column-gap: 30px;
    overflow: hidden;
    overflow-x: scroll;
    flex: none;
}

.list_wrapper_item_image {
    width: 250px;
    height: 360px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    
    img {
        filter: grayscale(100%);
        transition: transform 0.5s;
        
        &:hover {
            filter: grayscale(0);
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}