@use '../../styles/mixins';
@use '../../styles/variables';

.list_wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    column-gap: 30px;
    overflow: hidden;
    overflow-x: scroll;
    flex: none;
}

.certification_section_certifications_list_wrapper {
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.list_wrapper::-webkit-scrollbar {
    display: none;
}


.list_wrapper_item {}

.list_wrapper_item_image {
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
}

.certification_section_certifications_list_wrapper .list_wrapper_item_image {
    width: 250px;
}

.list_wrapper_item_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.list_wrapper_item_image img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}